.about-page {
  display: flex;
  justify-content: space-around;
  top: 0;
  gap: 50rem;

  .text-zone {
    position: relative;
    width: 100%;

    .about-text {
      font-size: 1.5rem;
      letter-spacing: 0.8px;
    }
  }
}

.skills {
  position: relative;
  display: flex;
  align-items: center;

  .cubespinner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .face2 img {
      width: 80px;
      height: 80px;
      user-select: none;
      object-fit: contain;
      filter: saturate(50%);
    }

    .face1,
    .face2 {
      position: relative;
      width: 100px;
      height: 100px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  }
}

@media screen and (max-width: 1400px) {
  .about-page {
    display: flex;
    flex-direction: column;
    gap: 10rem;

    .container-text-zone{
      display: block;
      left: 10%;
      width: 90%;
      justify-content: center;
      align-items: center;
    }

    .skills{
      display: block;
      left: 15%;
      width: 90%;
    }
  }  
}
