.contact-page {
  width: 80%;
  .container-text-zone {
    .text-zone {
      margin-top: -26%;
      margin-left: 10%;
    }
    .contact-form {
      form {
        position: relative;
        margin: auto;
        margin-top: 12%;
        margin-left: 18%;

        .notification {
          color: #ffd700;
          font-size: 4rem;
          font-weight: 600;
          position: relative;
          margin: auto;
          margin-top: 12%;
          margin-left: 18%;
        }

        input[type="text"],
        input[type="email"] {
          width: 100%;
          border: 0;
          background: #115173;
          height: 40px;
          font-size: 16px;
          letter-spacing: 2px;
          color: #fff;
          padding: 0 10px;
          box-sizing: border-box;
        }

        textarea {
          resize: none;
          width: 100%;
          border: 0;
          background: #115173;
          height: 20px;
          font-size: 16px;
          letter-spacing: 2px;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          min-height: 150px;
        }

        .flat-button {
          color: #ffd700;
          font-size: 16px;
          letter-spacing: 3px;
          text-decoration: none;
          padding: 10px 12px;
          border: 1px solid #ffd700;
          float: left;
          border-radius: 4px;
          background: 0 0;
          text-transform: uppercase;
          float: right;
          text-align: center;
          margin-right: 10px;
        }
        .flat-button:hover {
          color: black;
          background-color: #ffd700;
          cursor: pointer;
        }
        .new-button{
          max-height: 19px;
        }
      }
    }
  }
}


@media screen and (max-width: 1400px) {
  .contact-page {
    margin-top: 10rem;
  }
  .container-text-zone {
    .text-zone {
      padding-top: 10rem;
      margin-bottom: -10rem;
    }
  }
}
